#contact {
    .contact__meainHeading {
        text-align: center;
        margin-bottom: 0.48387em;
    }
    .contact_subHeading {
        text-align: center;
        color: $light-text-color;
        max-width: 55ch;
        margin: 0 auto 3.977222em auto;
    }
}
