.techTool__iconBox {
    padding: 1.24rem;
    width: 66px;
    height: 68px;
    background-color: $secondary-whitesmoke-color;
    border-radius: 10%;

    img.techTool__icon {
        width: 100%;
    }
}
